<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Ordered Food Convenience Stores</title>
</head>

<body>
    

    @model Food_delivery.Models.ViewModels.Pages.PageVM
    @{
        ViewBag.Title = "Index";
    }
    @Html.Raw(Model.Body)
    
</body>


</html>